*.o
*~
*.so
*.exe
tclInterpreter
pythonInterpreter
*.sdf
.svn
*.mod
*.out
*.disp
__pycache__
*.pvd
*.vtu
*.lib
*.db
*.bsc
*.pdb
.vs
bin
obj
*.gch
/.cproject
/.project
DEVELOPER
EXAMPLES
MAKES
README
SCRIPTS
Win32
Win64
Workshops
lib